# Introduction
text texe

In [1]:
import pypyodbc as pyodbc
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

In [2]:
DRIVER_NAME = 'SQL Server'
SERVER_NAME = 'Zotac-B\SQLEXPRESS'
DATABASE_NAME = 'ShopInventoryDB'

connection_string = 'Driver={SQL Server};Server=' + SERVER_NAME + ';Database=' + DATABASE_NAME + ';'

In [3]:
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
engine = create_engine(connection_url)

In [4]:
query = 'SELECT * FROM Orders as o JOIN OrderItems as oi on o.order_id = oi.order_id; '

df = pd.read_sql_query(query, engine)
print(df)

     order_id  order_date  customer_id  total_amount  order_item_id  order_id  \
0           1  2023-07-01           20             2              1         1
1           1  2023-07-01           20             2              2         1
2           2  2023-07-01           41             2              3         2
3           2  2023-07-01           41             2              4         2
4           3  2023-07-01           62             1              5         3
..        ...         ...          ...           ...            ...       ...
149        93  2023-07-30           85             2            150        93
150        93  2023-07-30           85             2            151        93
151        94  2023-07-30           61             2            152        94
152        94  2023-07-30           61             2            153        94
153        95  2023-07-31           42             1            154        95

     product_id  quantity_ordered  unit_price
0             5                 1       29.99
1             9                 1       39.99
2            14                 1       69.99
3             8                 1       59.99
4             3                 1       24.99
..          ...               ...         ...
149          12                 1       29.99
150           8                 1       59.99
151          16                 1       89.99
152           2                 1      149.99
153          11                 1       29.99

[154 rows x 9 columns]

In [7]:
query = 'SELECT COUNT(DISTINCT(order_id)) as orders_amount FROM Orders'

df = pd.read_sql_query(query, engine)
print(df[['orders_amount']].to_string(index=False))
orders_amount = df['orders_amount'][0]

 orders_amount
            95

In [29]:
query = 'SELECT oi.order_id, SUM(oi.quantity_ordered) as items_in_order, SUM(oi.unit_price*oi.quantity_ordered) as total_price FROM Orders as o JOIN OrderItems as oi on o.order_id = oi.order_id GROUP BY oi.order_id'
df = pd.read_sql_query(query, engine)
print(df)

    order_id  items_in_order  total_price
0          1               2        69.98
1          2               2       129.98
2          3               1        24.99
3          4               2        94.98
4          5               2        59.98
..       ...             ...          ...
90        91               2       109.98
91        92               1        49.99
92        93               2        89.98
93        94               2       239.98
94        95               1        29.99

[95 rows x 3 columns]